@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
.title {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 8rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.5s ease-out;
}
.title__mini {
    display: block;
    font-size: 2rem;
    color: #808080ab;
}
.title._active {
    letter-spacing: -0.75rem;
    color: #ffffff56;
    transition: all 1s ease-out;
    .title__mini {
        color: #80808036;
        letter-spacing: normal;
        transition: all 1s ease-out;
    }
}