.card {
    max-height: auto;
    width: 100%;
    font-size: 0.8rem;
    background-color: #8080801a;
    border: 2px solid #8080801a;
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    @media screen and (max-width: 424px) {
        flex-direction: column;
        align-items: start;
    }
    .card__info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .card__photo {
        img {
            height: 6.875rem;
            width: 6.875rem;
            border-radius: 50%;
            object-fit: contain;
        }
    }
    .card__name {
        font-weight: 500;
    }
    .card__text {
        display: inline-block;
    }
    .card__rating {
        display: flex;
        gap: 0.5rem;
    }
}
